{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EMBD LEAD MGMT</title>
    <link href="/dist/output.css" rel="stylesheet">
   
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
  </head>
  <body>
	<script src="index.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  {% include 'leads/navbar.html' %}
  <section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
      <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://img.freepik.com/free-vector/generating-new-leads-concept-illustration_114360-7654.jpg?w=826&t=st=1678868432~exp=1678869032~hmac=4b3a63825e3b56d4fe9980bb7b331c1f4a25a9fe8638b06aaf4fb8f1f78e22a3">
      <div class="text-center lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Embedded Department Lead Management System</h1>
        <p class="mb-8 leading-relaxed">This CRM Helps you to manage leads</p>
        <div class="flex justify-center">
         <a href="/leads/"> <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Leads</button></a>
          <a href="leads/create/"><button class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">Create a lead</button></a>
        </div>
      </div>
    </div>
    <p class="h"> hhhhhh</p>
  </section>
  </body>
</html>