<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
    <link href="/dist/output.css" rel="stylesheet">
    <style>
      
    </style>
  </head>
  <body>
    
	<script src="index.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
   <div class="max-w-7xl mx-auto">
    {% include 'leads/navbar.html' %}
      



    <a href="/leads/">Go back to Clients</a>
    <hr>

    <section class="text-gray-600 body-font overflow-hidden">
      <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
          <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
            <h2 class="text-sm title-font text-gray-500 tracking-widest">Lead</h2>
            <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">{{lead.first_name}} {{lead.last_name}}</h1>
            <div class="flex mb-4">
              <a class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">Description</a>
              {% comment %} <a class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Reviews</a> {% endcomment %}
              <a href="/leads/{{lead.pk}}/update" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Update</a>
            </div>
            <p class="leading-relaxed mb-4">{{lead.requirement}}</p>
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">Service ID</span>
              <span class="ml-auto text-gray-900">{{lead.service_id}}</span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">Service Type</span>
              <span class="ml-auto text-gray-900">{{lead.service_type}}</span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">Service Tenure</span>
              <span class="ml-auto text-gray-900">{{lead.service_tenure}}</span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">Service active</span>
              <span class="ml-auto text-gray-900">{{lead.service_active}}</span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">Employee assigned </span>
              <span class="ml-auto text-gray-900">{{lead.agent}}</span>
            </div>
            <div class="flex border-t border-b mb-6 border-gray-200 py-2">
              <span class="text-gray-500">Location</span>
              <span class="ml-auto text-gray-900">{{lead.country}}</span>
            </div>
            <div class="flex">
              
             
              
            </div>
          </div>
          <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="https://img.freepik.com/free-vector/team-goals-concept-illustration_114360-5146.jpg?w=826&t=st=1678880188~exp=1678880788~hmac=0f7cee351748ccc271ce4554d184d0251d7999c6253793d75b4bc71bfa2c7a83">
        </div>
      </div>
    </section>










    
        
        
  </div>
    
  </body>
</html>